%h2 Create new movie
= form_tag movies_path do
  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, Movie.all_ratings

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date, :start_year => 1977
  = submit_tag 'Save Changes'
